# Temporal Graph Data Generation for 2-Camera MOT
In this notebook, we are going to generate the temporal graph dataset for the MOT task. Based on the previously preprocessed data the required manipulations are performed. For the sake of simplicity, a 2-camera scenario is considered.

In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
# pre-set the number of frames we want to look at 
n_frames = 10
n_cameras = 2

### 1. Load in the Preprocessed Data
There are 400 frames for each camera in the dataset. Each frame exhibits several cropped boxes or rather pedestrians. For a single camera, 400 frames mean that there are 400 time steps available. In each time step we extract a snapshot of the underlying graph. Compared to the Chickenpox Dataset which has 517 snapshots, our dataset will only have 400 snapshots.

In [3]:
with open('/home/ge93qew/WILDTRACK/Image_subsets/C1/reid-features/saved_dictionary-C1.pkl', 'rb') as fc1:
    loaded_dict_c1 = pickle.load(fc1)
    
with open('/home/ge93qew/WILDTRACK/Image_subsets/C2/reid-features/saved_dictionary-C2.pkl', 'rb') as fc2:
    loaded_dict_c2 = pickle.load(fc2)

We extract the re-id features and additional information from the loaded dictionary `loaded_dict`. In order to split the data into several snapshots, we need to determine the number of elements corresponding to the same `frame_ID`. The dictionary `snapshot_dict` is only one possibility to do so.

In [4]:
re_id_c1, person_ID_c1, frame_ID_c1, name_c1, cam_ID_c1 = zip(*([loaded_dict_c1[i][0], loaded_dict_c1[i][1], 
                                                  loaded_dict_c1[i][2], loaded_dict_c1[i][3], 
                                                  loaded_dict_c1[i][4]] for i in loaded_dict_c1))
snapshot_dict_c1 = {int(i):frame_ID_c1.count(i) for i in frame_ID_c1}

In [5]:
re_id_c2, person_ID_c2, frame_ID_c2, name_c2, cam_ID_c2 = zip(*([loaded_dict_c2[i][0], loaded_dict_c2[i][1], 
                                                  loaded_dict_c2[i][2], loaded_dict_c2[i][3], 
                                                  loaded_dict_c2[i][4]] for i in loaded_dict_c2))
snapshot_dict_c2 = {int(i):frame_ID_c2.count(i) for i in frame_ID_c2}

### 3. Create Edge list and Edge Labels
...

In [6]:
num_cropped_boxes_c1 = []
for i in range(1,n_frames+1):
    num_cropped_boxes_c1.append(snapshot_dict_c1[i])
num_cropped_boxes_c1

[32, 31, 30, 33, 33, 33, 30, 30, 31, 31]

In [7]:
num_cropped_boxes_c2 = []
for i in range(1,n_frames+1):
    num_cropped_boxes_c2.append(snapshot_dict_c2[i])
num_cropped_boxes_c2

[18, 18, 17, 19, 18, 19, 18, 18, 19, 17]

In [8]:
num_nodes_c1 = [num_cropped_boxes_c1[0] if i == 1 else sum(num_cropped_boxes_c1[0:i]) for i in range(1,n_frames+1)]
num_nodes_c1

[32, 63, 93, 126, 159, 192, 222, 252, 283, 314]

In [9]:
num_nodes_c2 = [num_cropped_boxes_c2[0] if i == 1 else sum(num_cropped_boxes_c2[0:i]) for i in range(1,n_frames+1)]
num_nodes_c2

[18, 36, 53, 72, 90, 109, 127, 145, 164, 181]

In [10]:
num_cropped_boxes = [sum(value) for value in zip(num_cropped_boxes_c1, num_cropped_boxes_c2)]
num_cropped_boxes

[50, 49, 47, 52, 51, 52, 48, 48, 50, 48]

In [11]:
num_nodes_sum = [sum(value) for value in zip(num_nodes_c1, num_nodes_c2)]
num_nodes_sum

[50, 99, 146, 198, 249, 301, 349, 397, 447, 495]

#### Create DataFrame Objects Containing the Mapping between Person's ID and Integer

In [32]:
def create_n_dataframes(n,c,num_nodes,person_ID):
    for i in range(n):
        nodeID_personID_dict = {'node_ID': range(num_nodes[i]), 'person_ID': person_ID[:num_nodes[i]], 'cam_ID': c+1}
        exec(f'''global df_c{c+1}_{i}
df_c{c+1}_{i} = pd.DataFrame(nodeID_personID_dict)
print(f'df_c{c+1}_{i}')''')

In [33]:
for cam in range(n_cameras):
    exec(f'''create_n_dataframes(n_frames,cam,num_nodes_c{cam+1},person_ID_c{cam+1})
''')

df_c1_0
df_c1_1
df_c1_2
df_c1_3
df_c1_4
df_c1_5
df_c1_6
df_c1_7
df_c1_8
df_c1_9
df_c2_0
df_c2_1
df_c2_2
df_c2_3
df_c2_4
df_c2_5
df_c2_6
df_c2_7
df_c2_8
df_c2_9

In [40]:
df_c1_0

    node_ID person_ID  cam_ID
0         0      0000       1
1         1      0001       1
2         2      0002       1
3         3      0003       1
4         4      0004       1
5         5      0005       1
6         6      0007       1
7         7      0008       1
8         8      0009       1
9         9      0010       1
10       10      0012       1
11       11      0013       1
12       12      0014       1
13       13      0015       1
14       14      0017       1
15       15      0018       1
16       16      0019       1
17       17      0020       1
18       18      0021       1
19       19      0022       1
20       20      0023       1
21       21      0024       1
22       22      0025       1
23       23      0027       1
24       24      0033       1
25       25      0034       1
26       26      0035       1
27       27      0036       1
28       28      0037       1
29       29      0038       1
30       30      0122       1
31       31      0247       1

In [39]:
df_c2_0

    node_ID person_ID  cam_ID
0         0      0002       2
1         1      0005       2
2         2      0010       2
3         3      0012       2
4         4      0013       2
5         5      0014       2
6         6      0015       2
7         7      0017       2
8         8      0018       2
9         9      0019       2
10       10      0020       2
11       11      0021       2
12       12      0022       2
13       13      0023       2
14       14      0024       2
15       15      0038       2
16       16      0122       2
17       17      0247       2

#### Create DataFrame Objects Containing the Stacked Temporal Graph Data

In [ ]:
def generate_temporal_dataframes(num_frames): 
    # dataframe based on cartesian product at t = 0; df_stack will be used as historic nodes
    df_stack = df_c1_0.merge(df_c2_0,how='cross')  
    
    # dataframe based on cartesian product plus additional column 'edge' at t = 0
    df_edges = df_stack.copy()
    df_edges['edge'] = True  
     
    for i in range(1,num_frames):
        
        # create for loop for all cameras and call a generic function that generates the dataframes for all new nodes, 
        # all new edges etc. 
        # check notes in green notebook.
        
        
        # dataframe containing all new nodes in each time step
        exec(f'''global new_nodes
new_nodes = df_{i}[num_nodes[i-1]:num_nodes[i]+1]''')
        
        # dataframe based on cartesian product of new nodes and historic nodes in each time step t > 0
        exec(f'''global df_new_edges
df_new_edges = df_{i-1}.merge(new_nodes,how='cross')''')        
        
        # dataframe containing the new set of historic nodes for the next iteration
        df_stack = pd.concat([df_stack,df_new_edges], ignore_index=True)
        
        df_new_edges['edge'] = True
        df_edges = pd.concat([df_edges,df_new_edges])
    return df_stack,df_edges

In [ ]:
def gen_new_nodes_dfs_per_cam(cam):